<ion-view title="S&oslash;k etter sted" class="has-header">
  <div id="search-bar">
    <div class=•tem item-input-inset">
      <label class="item-input-wrapper" id="search-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="S&oslash;k" ng-model="query" >
        <button class="button button-clear" ng-click="showAlert()">
          S&oslash;k
        </button>
      </label>
    </div>
  </div>
  
  <ion-content id="content" push-search>      
    <ion-list>
      <ion-item ng-repeat="vet in vetItems" href="#/details/{{vet.id}}">
        {{vet.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>